
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #16003b;
  color: #fff;
  line-height: 1.6; 
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(20, 0, 50, 0.6);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
}

.logo h1 {
  font-size: 24px;
  letter-spacing: 2px;
}

.navbar nav a {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 6px 14px;
  border-radius: 6px;
  transition: 0.3s;
}

.navbar nav a:hover {
  background: #fff;
  color: #16003b;
}


.seccion_principal{
  text-align: center;
  padding: 160px 20px 80px;
  background: radial-gradient(circle at top right, #410553 0%, #16003b 80%);
}

.seccion_principal h2 {
  font-size: 52px;
  font-weight: 700;
}

.seccion_principal h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.seccion_principal .fecha {
  font-family: 'Pacifico', cursive;
  font-size: 22px;
  margin-bottom: 20px;
}

.seccion_principal-img {
  width: 400px;
  margin: 30px 0;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  background: linear-gradient(90deg, #ffb347, #ffcc33);
  color: #16003b;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
}


section {
  padding: 80px 60px;
  text-align: center;
}


.acerca_festival {
  max-width: 800px;
  margin: auto;
}


.tarjetas {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.tarjetas {
  background: rgba(255, 255, 255, 0.1);
  text-align: center; 
  padding: 20px;
  border-radius: 12px;
  width: 250px;
  justify-content: center;
}

.tarjetas img {
  width: 100%;
  border-radius: 10px;
  height: 260px;
  object-fit: cover;
  justify-content: center;
  object-fit: cover;
  display: block;

}

.tarjetas h3 {
  margin: 10px 0 5px;
}

.tarjetas p {
  font-size: 14px;
  color: #ccc;
}


.noticias {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.noticias a {
  color: #87CEFA;
  text-decoration: none;
}


.frase {
  font-size: 20px;
  font-style: italic;
  margin: 60px auto;
  max-width: 800px;
}


footer-info {
  background: #0c0023;
  padding: 40px 60px;
  text-align: center;
}

.footer-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.footer-info {
  color: #ffcc33;
}



